.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
!envs/*/terraform.tfvars.example
!envs/*/terraform.tfvars.json.example
.docs/
docs_local/

# Bootstrap local docs
bootstrap/local_docs/

# macOS
.DS_Store
*/.DS_Store
**/.DS_Store