vpc_name = "goorm-popcorn-vpc-dev"
vpc_cidr = "10.0.0.0/16"

public_subnets = [
  {
    name = "goorm-popcorn-dev-public-2a"
    az   = "ap-northeast-2a"
    cidr = "10.0.1.0/24"
  },
  {
    name = "goorm-popcorn-dev-public-2c"
    az   = "ap-northeast-2c"
    cidr = "10.0.2.0/24"
  }
]

app_subnets = [
  {
    name = "goorm-popcorn-dev-private-app-2a"
    az   = "ap-northeast-2a"
    cidr = "10.0.11.0/24"
  },
  {
    name = "goorm-popcorn-dev-private-app-2c"
    az   = "ap-northeast-2c"
    cidr = "10.0.12.0/24"
  }
]

data_subnets = [
  {
    name = "goorm-popcorn-dev-private-data-2a"
    az   = "ap-northeast-2a"
    cidr = "10.0.21.0/24"
  },
  {
    name = "goorm-popcorn-dev-private-data-2c"
    az   = "ap-northeast-2c"
    cidr = "10.0.22.0/24"
  }
]

sg_name = "goorm-popcorn-dev"

enable_nat         = true
single_nat_gateway = true

alb_name              = "goorm-popcorn-alb-dev"
alb_target_group_name = "goorm-popcorn-gateway-dev"

elasticache_name                = "goorm-popcorn-cache-dev"
elasticache_node_type           = "cache.t4g.micro"
elasticache_engine_version      = "7.0"
elasticache_num_cache_clusters  = 1
elasticache_automatic_failover  = false
elasticache_multi_az_enabled    = false
